<!DOCTYPE html>
<html>
   <head>
      <script>
         function invalid_key(){
a = document.getElementById('id').value
if(typeof a == int){
        window.open("index.html", "_blank");
    }
}
function search() {
    var search_key = document.getElementById('input_id').value;
    let link = "http://127.0.0.1:8000/search/"+search_key;
    window.open(link)
}
function delete2() {
    var search_key = document.getElementById('input_id2').value;
    let link = "http://127.0.0.1:8000/delete/"+search_key;
    window.open(link)
}
      </script>
   </head>
   <body>
      <form method="post" action="http://127.0.0.1:8000/submit"  enctype="multipart/form-data">
         Sender : <input type="text" name="name" value="Name"><br>
         Message : <input type="text" name="is_accepted" value="Message"><br>    
         Key : <input type="number" name="id" value=1><br>
         <input type="submit" value="submit" onclick="invalid_key()">
      </form>
      <form>
         Search Any Key : <input type="number" id="input_id" value=1><br>
         <input type="submit"  value="submit" onclick="search()">
      </form>
      <form>
         Delete Any Key : <input type="number" id="input_id2"><br>
         <input type="submit"  value="submit" onclick="delete2()">
      </form>
   </body>
</html>
